<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <div class="logo">
                    <img src="assets/logo.png" alt="BuZZing.com">
                </div>
                <h1 style="margin-left: 55px">User Signup</h1>
            </div>

            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email"/>

                    </nz-form-control>
                </nz-form-item>
                

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Name">
                        <input nz-input placeholder="First Name" formControlName="firstName" id="firstName"/>

                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Last Name">
                        <input nz-input placeholder="Last Name" formControlName="lastName" id="lastName"/>

                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Phone Number">
                        <input nz-input placeholder="Contact Number" formControlName="phone" id="phone"/>

                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password"/>
                        
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkpassword" id="checkpassword"/>
                        
                    </nz-form-control>
                </nz-form-item>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                    Register
                </button>
                Already have an Account <a routerLink="/login">Login Now</a>



            </form>
        </div>
    </div>
</div>